<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850942900689-tlekiakoirgj8ha61e37ithk5oknbum7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850942900689-tlekiakoirgj8ha61e37ithk5oknbum7</string>
	<key>API_KEY</key>
	<string>AIzaSyCLTdA6iCUdo4Cy1GRXiGhVhB5tFZoBnTI</string>
	<key>GCM_SENDER_ID</key>
	<string>850942900689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bbangTeam.Bbang</string>
	<key>PROJECT_ID</key>
	<string>bbangteam-c6696</string>
	<key>STORAGE_BUCKET</key>
	<string>bbangteam-c6696.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850942900689:ios:e37965feea0f98207ec8f0</string>
</dict>
</plist>